# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Виртуальные окружения
venv/
.env/
.venv/

# PyCharm
.idea/

# Логи и временные файлы
*.log
*.tmp
*.bak

# Локальные файлы и архивы
tag_edittor.rar
*.jpg
*.jpeg
*.png

# Docker
Dockerfile
.dockerignore

# macOS
.DS_Store
